.suspend {
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-image: url("/img/dark.jpg");
    background-size:cover;
    z-index:9999;

    .hour{
        display: block;
        text-align: center;
        color: #bdbdbd;
        margin-top: 20px;
        p:nth-of-type(1){
            font-size: 65px;
            margin-bottom: 5px;
        }
        p:nth-of-type(2){
            margin: 0;
            font-size: 25px;
        }

        span{
            font-size: 15px;
            margin: 0 6px;
            line-height: 25px;
            margin-top: -7px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    .pin{
        position: absolute;
        top: 60%;
        margin-top: -150px;
        left: 50%;
        padding: 20px;
        width: 400px;
        margin-left: -200px;

        button{
            width: 40px;
            line-height: 100%;
            color: #bdbdbd;
            background: none;
            border: none;
            font-size: 30px;
            padding: 0;
            margin: 14px 22px;
        }

        i{
            color: #bdbdbd;
            font-size: 35px;
            margin: 10px;
        }

        br:nth-of-type(1){
            display: block;
            height: 30px;
            content: "";
        }
    }

}