$blue:#4885ed;
$lightblue:#eaf2ff;
$lightgrey:#ededed;
$grey:#4e4e4e;
$backgrey:#e7e7e7;
$orange:#ff9900;
$violet:#639;
//@import 'bootstrap-variables';
@import 'bootstrap';
//@import 'fa-variables';
@import 'font-awesome/fa.scss';



html, body {	
	margin: 0;
	height:100%;	
	font-size:15px;
	//@media (max-width:$screen-sm-max) and (min-width:$screen-sm-min) { font-size:15px; }
	//@media (max-width:$screen-xs-max) { font-size:14px; }
}

body{
	background: white;
	font-family:'Raleway', sans-serif;
}

@import 'stili/gallery';
@import 'stili/main';
@import 'stili/footer';
@import 'stili/event-schedule';
@import 'stili/thecouple';
@import 'stili/menu';
@import 'stili/utilities';